#root {
  background-color: #f4f2ee;
}
p {
  background-color: white;
}

/* overlay, loading */
.container-fluid.fade-out {
  animation: fadeout 1.3s ease-in-out;
  animation-fill-mode: forwards;
  padding: 0;
  margin: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
#navbarScrollingDropdown {
  padding: 0;
}

#nav-dropdown-dark-example {
  padding: 0;
}

.create-post-btn {
  background-color: transparent !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}

.position-sticky-70{
  position: sticky !important; 
  top: 70px !important;
}